@ IN SOA {{ansible_hostname}}.lan. hostmaster.lan. (
        2017081401 ; serial
        8H ; refresh
        4H ; retry
        4W ; expire
        1D ; minimum
    )
               IN NS {{ansible_hostname}}.lan.
    1         IN PTR {{ansible_hostname}}.lan.
    31        IN PTR {{ansible_hostname}}.lan.